.post-input {
	position: relative;
	bottom: 0;
	width: 41%;
	margin: 1em 29%;
	padding: 5px;
}

.post-body {
	padding: 20px;
}

.post-textField {
	width: 100%;
}

.btn-post {
	position: absolute;
	right: 0;
	bottom: 25px;
	left: 82%;
}

.post-received {
	margin: 1em 28%;
	padding: 5px;
}

.post-content {
	padding: 20px;
}

/* Avatar*/

.avatar {
	position: absolute;
	top: 40%;
	left: 92%;
	width: 400px;
	height: 300px;
	margin-top: -200px; /* Half the height */
	margin-left: -300px; /* Half the width */
}

.avatar-content {
	width: 60%;
}

.accountPageText {
}

.avatar-image {
	border-radius: 60%;
	max-width: 350px;
	max-height: 350px;
	margin: 0 auto;
}
