.post-input {
	margin: 1em 25%;
	padding: 5px;
}

.post-body {
	padding: 20px;
}

.post-textField {
	width: 100%;
}

.btn-post {
	position: relative;
	right: 0;
	top: 5px;
	left: 75%;
}

.post-received {
	margin: 1em 23%;
	padding: 5px;
}

.post-content {
	padding: 20px;
}
